<div class="card " style="width: 18rem;" data-bs-toggle="modal" [attr.data-bs-target]="'#characterModal-' + character.id">
    <img src="{{image}}" alt="" height="250px">
    <div class="card-body">
        <p class="card-text">{{name}}</p>
    </div>
</div>

<div class="modal fade" [id]="'characterModal-' + character.id" tabindex="-1" aria-labelledby="characterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h1 class="modal-title fs-5" id="characterModalLabel">{{character.name}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Description:</label>
              <p>{{character.description ? character.description : 'No description available'}}</p>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>